DATABASE_URL=mongodb://127.0.0.1/your-database-name
PAYLOAD_SECRET=YOUR_SECRET_HERE


DATABASE_URL=postgresql://postgres.ogsgayboeaewzsbcbojs:%25z.u9EWSfTP4q4%3F@aws-0-ap-northeast-1.pooler.supabase.com:6543/postgres
PAYLOAD_SECRET=0fc3f0bc83556f8f5ea0f0581451f2fc

S3_ENDPOINT=https://ogsgayboeaewzsbcbojs.storage.supabase.co/storage/v1/s3
S3_REGION=ap-northeast-1
S3_BUCKET=product_images
S3_ACCESS_KEY_ID=97db1d116361bb570ca494961fbbcbe9
S3_SECRET_ACCESS_KEY=d730addafe05c34309dc6aae2cad7cd0de6be9cde042be4210d4128f69f6e0b0

NEXT_PUBLIC_SUPABASE_URL=https://ogsgayboeaewzsbcbojs.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9nc2dheWJvZWFld3pzYmNib2pzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk2MjgxNDIsImV4cCI6MjEwNTIwNDE0Mn0.mT1IGLqkBnQvSbHi0GFXWl4675Ftvzn6gxoSVEivPrM
NEXT_PUBLIC_PAYLOAD_URL=http://localhost:3001
